<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Ref, ref, watch, createComponent } from "@vue/composition-api";

export default createComponent({});
</script>

<style lang="less"></style>
